{% extends "_layout" %}

{% block content %}
	<div>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1 class="page-title title--center" data-aos="fade-up">{{ entry.titre }}</h1>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-md-8 offset-md-2">
					<script id="CookieDeclaration" src="https://consent.cookiebot.com/3b34e609-3661-4b3c-a6e5-64e30b1a800a/cd.js" type="text/javascript" async></script>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
