/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$primary: #540769;
$primary-lighter: #f0c0ff;
$white: #fff;

$transition-time: .3s;

.container-fluid {
    max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFE8FA 100%);
    min-height: 100vh;
    font-family: sans-serif;
    font-family: europa, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    
    a {
        background-color: $primary;
        color: #FFF;
        display: block;
        padding: 1em 2em;
        text-transform: uppercase;
        letter-spacing: 0.125em;
        text-decoration: none;
        font-size: 0.875em;
        transition: background-color $transition-time;
        
        &:hover {
            background-color: $primary-lighter;
        }
    }
    
}

.mb-0 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.l-title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1.5em;
    color: $primary;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    
    @media (max-width: 992px) {
        font-size: 1.8em;
    }
}

.header {
    position: sticky;
    top: 40px;
    background-color: $white;
    z-index: 99999;
    
    @media (min-width: 1200px) {
        top: 0;
    }
    
    &__content {
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-wrapper {
        > .nav {
            display: flex;
            list-style: none;
            position: relative;
            padding: 0;
            margin: 0;
            
            > .nav__item {
                & + .nav__item {
                    margin-left: 2rem;
                }
                
                &.button {
                    .nav__link {
                        padding: 16px 24px;
                        background-color: $primary;
                        color: $white !important;
                        transition: background-color $transition-time;
                        
                        &:hover {
                            background-color: $primary-lighter;
                        }
                    }
                    
                    &.button--green {
                        background-color: #0fbd70;
    
                        &:hover {
                            background-color: $primary-lighter;
                        }
                    }
                }
                
                > .nav__link {
                    font-size: 0.875em;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 0.125em;
                    display: block;
                    font-weight: 600;
                    color: $primary;
                    padding: 16px 0;
                    
                    transition: color $transition-time;
                    
                    &.is-active {
                        color: $primary-lighter;
                        position: relative;
                        
                        &:after {
                            content: '';
                            height: 3px;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background-color: $primary-lighter;
                            opacity: 1;
                            visibility: visible;
                            
                            transition: all $transition-time;
                        }
                        
                        &:hover {
                            &:after {
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                }
                
                &:hover, &:focus {
                    > .nav__link {
                        color: $primary-lighter;
                        
                        &.is-active {
                            &:after {
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                }
                
                > .nav {
                    position: absolute;
                    background-color: $primary;
                    padding: 0;
                    z-index: 99999;
                    list-style: none;
                    top: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                    border-radius: 2px;
                    width: 180px;
                    
                    opacity: 0;
                    transform: translateY(15px);
                    visibility: hidden;
                    transition: all $transition-time;
                    
                    &:before {
                        content: '';
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: block;
                        background-image: linear-gradient(90deg, #CE77E6 0%, #ECA0FF 100%);
                        
                    }
                    
                    > .nav__item {
                        flex: 1 1 100%;
                        
                        > .nav__link {
                            font-size: 13px;
                            padding: 16px;
                            background-color: $white;
                            color: $primary;
                            flex: 1 1 100%;
                            display: block;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: background-color $transition-time;
                            
                            &:hover, &.is-active {
                                background-color: $primary;
                                color: $white;
                            }
                        }
                    }
                }
                
                &:hover {
                    > .nav {
                        opacity: 1;
                        transform: translateY(0);
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.top-bar {
    background: #f7f7f7;
    
    &__content {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 30px;
    }
    
    .phone {
        flex: 1 1 auto;
        
        .phone__link {
            color: $primary;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 13px;
            flex: 1 1 auto;
            font-weight: 600;
            transition: color .2s;
            
            &:hover {
                color: $primary-lighter;
                
                .icon {
                    fill: $primary-lighter;
                }
            }
        
            .icon {
                height: 16px;
                width: 16px;
                fill: $primary;
                margin-right: 8px;
                transition: fill .2s;
            }
        }
    }
    
    .lang {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
        text-align: right;
        justify-content: flex-end;
        flex: 0 1 auto;
        
        &__item {
            display: inline-flex;
            align-items: center;
            
            & + .lang__item {
                &:before {
                    content: '';
                    display: block;
                    height: 18px;
                    width: 1px;
                    background-color: $primary;
                    margin-right: .5rem;
                    margin-left: .5rem;
                }
            }
            
            .lang__link {
                text-decoration: none;
                display: block;
                padding: 0.3rem;
                text-transform: uppercase;
                font-size: 0.875em;
                font-weight: 600;
                transition: color $transition-time;
                color: #222222;
                
                &:hover, &.is-active {
                    color: $primary;
                }
            }
        }
    }
    
    .social {
        margin: 0 1rem 0 0;
        padding: 0;
        display: inline-flex;
        align-items: center;
        list-style: none;
        flex: 0 1 auto;
        
        &__item {
            & + .social__item {
                margin-left: 0.5rem;
            }
        }
        
        &__icon {
            height: 16px;
            width: 16px;
            transition: fill $transition-time;
        }
        
        &__link {
            margin: 0 0.3em;
            
            .social__icon {
                fill: #222222;
            }
            
            &:hover {
                .social__icon {
                    fill: $primary;
                }
            }
        }
    }
}

.hero-home {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 113px);
    
    .hero--home__content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
    }
    
    .video-wrapper {
        .video {
            z-index: -1;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0, .2);
        }
    }
    
    h1 {
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 0.125em;
        margin-bottom: 0.1em;
        color: $primary-lighter;
        
        @media (max-width: 992px) {
            font-size: 2.2em;
        }
    }
    
    img {
        max-width: 60%;
    }
    
    &__date {
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 0.125em;
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
        margin-bottom: 1rem;
    }
}

section {
    padding: 6rem 0;
    
    & + section {
        padding-top: 0;
    }
    
    &.listpage {
        padding-bottom: 4rem;
    }
}

.listpage + .part {
    padding-top: 0;
    padding-bottom: 7rem;
}

.introduction {
    padding-bottom: 0;
    
    &__content {
        background-color: #FFF;
        padding: 2em;
    }
    
    &__text {
        z-index: 2;
        position: relative;
        
        @media (min-width: 1200px) {
            transform: translateX(60px);
        }
        
    }
    
    &__image {
        z-index: 1;
        position: relative;
        
        @media (min-width: 1200px) {
            transform: translateX(-60px);
        }
    }
    
    img {
        width: 100%;
        height: auto;
    }
}

.text {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #222222;
    font-weight: 300;
    
    a {
        color: $primary;
        text-decoration: underline;
        transition: color $transition-time;
        
        &:hover {
            color: $primary-lighter;
        }
    }
}

.listpage {
    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    ul {
        padding: 0;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    [class*='col-'] {
        margin-bottom: 2rem;
    }
    
    .card {
        height: 100%;
        
        
        .listpage__content {
            padding: 1rem 0;
        }
        
        a {
            .listpage__content {
                padding: 1rem !important;
            }
        }
    }
    
    a {
        background-color: #FFF;
        display: block;
        text-decoration: none;
        transition: 500ms;
        height: 100%;
        
        &:hover {
            transform: translateY(-5px);
            transition: 500ms;
            box-shadow: 0px 1px 9px #cdcdcd;
        }
    }
}

.destinations, .article {
    a {
        display: block;
        width: 100%;
        height: auto;
        color: #FFF;
        text-decoration: none;
        position: relative;
        margin-bottom: 1.875em;
        transition: 500ms;
        
        
        &:hover {
            transform: translateY(-5px);
            transition: 500ms;
            
            h2 {
                background-color: rgba(84, 7, 105, 0.55);
                transition: 500ms;
            }
        }
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    h2 {
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 500ms;
        text-align: center;
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.125em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
}

.hero {
    min-height: 500px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    position: relative;
    
    @media (max-width: 992px) {
        min-height: 360px;
    }
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: .2;
    }
    
    .container-fluid {
        z-index: 2;
    }
    
    h1 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 3.375em;
        letter-spacing: 0.125em;
        
        @media (max-width: 992px) {
            font-size: 2.2em;
        }
    }
}

.videocontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.textecentre {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.part {
    padding: 3em 0;
    
    & + .part {
        padding-top: 0;
    }
    
    & + .destinations {
        padding-top: 0;
    }
}

.textimage {
    &__content {
        background-color: #FFF;
        padding: 2em;
        height: 100%;
    }
    
    img {
        width: 100%;
    }
}

#map {
    width: 100%;
    height: 500px;
    background-color: #e8e8e8;
}

footer {
    background-color: #371141;
    color: #FFF;
    padding: 3em 0 2rem 0;
    
    a {
        color: #FFF;
        text-decoration: none;
        font-size: 1.125em;
        
        &:hover {
            color: $primary-lighter;
        }
    }
    
    ul {
        padding: 0;
    }
    
    li {
        display: block;
        
        & + li {
            margin-top: .5rem;
        }
    }
    
    h2 {
        font-size: 0.875em;
        color: #F3C0FF;
        text-transform: uppercase;
        letter-spacing: 0.125em;
    }
    
    .footer__copyright {
        border-top: 1px solid #693577;
        margin-top: 2rem;
        padding-top: 2rem;
        font-size: .825rem;
        display: flex;
        flex-flow: row wrap;
        
        ul {
            display: flex;
            padding: 0;
            margin: 1rem 0 0 0;
            
            @media (min-width: 768px) {
                justify-content: flex-end;
                flex: 1 1 auto;
                margin: 0;
            }
            
            li + li {
                padding: 0;
                margin: 0 0 0 1rem;
            }
            
            .is-active {
                color: $primary-lighter;
            }
        }
    }
}

.content {
    background-image: url(../img/deco1.png);
    background-size: 326px 465px;
    background-repeat: no-repeat;
    background-position: left top;
}

.news {
    &__content {
        background: #FFF;
        padding: 2em;
        transform: translateY(-50px);
        
        iframe {
            width: 100%;
        }
    }
}

figure {
    margin: 0;
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4.5em 0;
    list-style: none;
    
    a, .current {
        display: inline-block;
        padding: 0.5em 1em;
        border: 1px solid $primary;
        text-decoration: none;
        color: $primary;
        margin: 0 2px;
        
    }
    
    .current {
        background: $primary;
        color: #FFF;
    }
}

h2 {
    font-size: 1.8rem;
}


.section-title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.3px;
    padding: 0;
}

.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.partners {
    background-color: #FFF;
    
    &__list {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        justify-content: center;
        align-items: center;
        list-style: none;
        
        li {
            flex: 0 1 50%;
            justify-content: center;
            
            a {
                text-align: center;
            }
            
            @media (min-width: 768px) {
                flex: 0 1 25%;
            }
            
            @media (min-width: 992px) {
                flex: 1 1 15%;
            }
        }
        
        a {
            display: block;
            padding: 1em 2em;
        }
        
    }
}

.article {
    .article__content {
        position: relative;
    }
    
    &--sidebar {
        .article__title h2 {
            font-size: 1.4rem;
            padding: 1rem !important;
        }
    }
    
    a {
        position: relative;
        
        &:hover {
            .article__title {
                &:before {
                    background-color: rgba(84, 7, 105, 0.55);
                }
            }
        }
    }
    
    .article__title {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: transparent;
            transition: 500ms;
        }
        
        
        h2 {
            padding: 24px;
            position: relative;
            margin: 0;
            background-color: transparent !important;
        }
        
        time {
            color: $white;
            margin: 0;
            font-size: 1rem;
            position: relative;
            z-index: 1;
        }
    }
}

.page-title {
    &.title--center {
        margin: 8rem auto;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $primary;
        font-size: 3em;
        letter-spacing: 0.125em;
    }
}

.mean-nav {
    .button {
        .nav__link {
            background-color: $primary;
        }
    }
    
    .nav__link {
        &.is-active {
            color: $primary-lighter;
        }
    }
    
    .mean-expand {
        margin: 0 !important;
        height: 30px !important;
    }
}

.news__content {
    time.l-title {
        font-size: 0.8rem;
        font-weight: 600;
    }
}

.mean-bar {
    padding: 0 !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 99999;
}

.booking-btn {
    padding: 16px 24px;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: $primary;
    font-size: 0.8rem;
}

.js-cm-form {
    .input-group {
        display: flex;
        flex-flow: row wrap;
    }
    
    input, button {
        height: 48px;
        border: 0;
        padding: 0 16px;
        flex: 0 1 auto;
        
        &:focus {
            outline: 0;
        }
    }
    
    input {
        border: 1px solid transparent;
        transition: border $transition-time;
        flex: 1 1 auto;
        width: 100%;
        max-width: 100%;
        
        &:focus {
            border: 1px solid $primary-lighter;
        }
    }
    
    button {
        background-color: $primary-lighter;
        color: $primary;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        font-weight: 600;
        font-size: 0.8rem;
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        
        transition: background-color $transition-time;
        
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}

.top-content {
    .top-content__infos {
        &.list {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            padding: 0;
            margin-top: -2rem;
            align-items: center;
            background-image: linear-gradient(134deg, #EC9EDD 0%, #DF74C8 100%);
            
            @media (min-width: 1200px) {
                height: 4rem;
            }
            
            .list__item {
                flex: 1 1 100%;
                padding: 0 1rem;
                align-items: center;
                display: flex;
                color: $white;
                font-size: 1.1rem;
                margin-top: 1rem;
                
                @media (min-width: 768px) {
                    flex: 1 1 33.333%;
                    height: 4rem;
                    margin-top: 0;
                }
                
                @media (min-width: 992px) {
                    flex: 1 1 25%;
                }
                
                &.item--button {
                    margin-top: 1rem;
                    padding: 0;
                    
                    @media (min-width: 768px) {
                        flex: 1 1 100%;
                        margin-top: 0;
                    }
                    
                    @media (min-width: 992px) {
                        flex: 0 1 25%;
                    }
                }
                
                .icon {
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: $primary;
                    margin-right: .5rem;
                }
            }
            
            .btn-primary {
                background-color: $primary;
                color: $white;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                letter-spacing: .125rem;
                text-decoration: none;
                height: 4rem;
                
                transition: background-color $transition-time;
                
                &:hover {
                    background-color: $primary-lighter;
                }
                
                @media (min-width: 992px) {
                    margin-top: -0.15rem;
                    height: 5rem;
                }
            }
        }
    }
}

.site-section {
    .text-left {
        text-align: left !important;
    }
    
    .activity {
        padding: 0;
        margin-bottom: 2rem;
    }
    
    .section__title {
        margin: 0 0 2rem 0 !important;
    }
    
    &.section-activity {
        padding-top: 0;
        
        .category-list {
            padding: 0;
            list-style: none;
        }
    }
}

.page {
    padding: 4rem 0;
    
    .page__section {
        background-color: $white;
        border-radius: 3px;
        
        ul {
            li + li {
                margin-top: .5rem;
            }
            
            & + .btn, & + p {
                margin-top: 2rem;
            }
        }
        
        a:not(.btn) {
            color: $primary;
            
            transition: color $transition-time;
            
            &:hover {
                color: $primary-lighter;
            }
        }
        
        &.content__main {
            padding: 2rem;
            
            ul, p, img {
                & + h2, & + h3, & + h4 {
                    margin-top: 3rem;
                }
            }
        }
        
        &.sidebar {
            overflow: hidden;
            margin-top: 2rem;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            
            @media (min-width: 1200px) {
                margin-top: 0;
            }
            
            .sidebar__content {
                padding: 1rem;
            }
        }
    }
}

.btn {
    &.btn-primary {
        background-color: $primary;
        color: $white;
        padding: .5rem 1rem;
        text-decoration: none;
        letter-spacing: .125rem;
        font-size: .825rem;
        text-transform: uppercase;
        text-align: center;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: background-color $transition-time;
        
        &:hover {
            background-color: $primary-lighter;
        }
    }
    
    &.btn-fluid {
        width: 100%;
        max-width: 100%;
    }
}

.l-intro {
    font-size: 1.125rem;
    line-height: 1.6rem;
}

.steps {
    padding-top: 4rem;
    padding-bottom: 0;
    
    & + .part {
        padding-top: 6rem;
    }
    
    .steps__title {
        margin-bottom: 4rem;
    }
    
    [class*='col-'] {
        @media (max-width: 1200px) {
            margin-bottom: 2rem;
        }
    }
    
    .step {
        padding: 0;
        text-align: center;
        height: 100%;
        display: flex;
        flex-flow: column;
        
        .step__content {
            flex: 1 1 auto;
        }
        
        .step__number {
            font-size: 1.5rem;
            font-weight: 600;
            color: $white;
            border-radius: 50%;
            height: 64px;
            width: 64px;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            background-color: $primary;
        }
        
        .step__title {
            margin-bottom: 0;
        }
        
        .step__footer {
            a {
                padding: 1rem 2rem;
                font-size: .825rem;
                letter-spacing: .125rem;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                background-color: $primary;
                margin-top: 1rem;
                display: inline-block;
                
                transition: background-color $transition-time;
                
                &:hover {
                    background-color: $primary-lighter;
                }
            }
        }
    }
}

.logo-wrapper {
    .logo {
        height: 100px;
        width: auto;
    }
    
    & + h1 {
        margin-top: 1rem !important;
    }
}

.tickets {
    padding: 0;
    margin-top: 3rem;
    
    &__list {
        padding: 0;
        list-style: none;
        
        .list__item {
            margin: 0;
        }
    }
    
    .ticket {
        border: 1px solid #e0e0ea;
        padding: 1rem;
        display: flex;
        
        .col-8 {
            flex: 0 1 80%;
        }
        
        .col-4 {
            flex: 0 1 40%;
            text-align: right;
        }
        
        &__title {
            margin: 0;
            
            & + .ticket__content {
                margin-top: 1rem;
            }
        }
        
        &__content {
            p {
                margin: 0;
                
                & + p {
                    margin-top: 1rem;
                }
            }
        }
        
        &__price {
            font-weight: 600;
            color: $primary;
            font-size: 1.2rem;
        }
    }
}

.swiper-container {
    width: 100%;
    max-width: 100%;
    height: 480px;
}

.swiper-button-next, .swiper-button-prev {
    color: $primary;
}

.swiper-pagination-bullet-active {
    background: $primary;
}

.site-wrapper {
    position: relative;
}

.video-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.counter-index {
    height: 100vh;
    overflow: hidden;
    
    background-size: cover;
    background-position: center center;
}

.counter {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        li {
            color: $white;
            font-weight: 700;
            font-size: 4rem;
            
            @media (min-width: 992px) {
                font-size: 10rem;
            }
            
            & + li {
                &:before {
                    content: ':';
                    display: inline-block;
                    margin: 0 8px;
                }
            }
        }
    }
}