{% extends "_layout" %}

{% block content %}
	<div class="hero" {% if entry.imageDeLaPage | length %}
		style="background-image:url(
		{% for image in entry.imageDeLaPage.all() %}
			{{ image.getUrl('col12') }}
		{% endfor %}
				)"
			{% endif %}>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1>{{ entry.title }}</h1>
				</div>
			</div>
		</div>
	</div>
    {% include '_includes/matrix.twig' %}
{% endblock %}
