{% extends "_layout" %}

{% block content %}
	<div class="hero" {% if entry.imageDeLaPage | length %}
		style="background-image:url(
		{% for image in entry.imageDeLaPage.all() %}
			{{ image.getUrl('col12') }}
		{% endfor %}
				)"
			{% endif %}>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1>{{ entry.title }}</h1>
				</div>
			</div>
		</div>
	</div>
    {% include '_includes/matrix.twig' %}
    <div class="part sales" data-aos="fade-up" data-delay="200">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="sales__content">
                        <h2 class="l-title mb-0">{{ 'Make an appointment'|t }}</h2>
                        <p>
                            {{ 'Our sales representatives will be happy to visit you within your company for a first exchange and the development of a customized program. Then, everything is organized in every detail on the spot with the team "Event".'|t }}
                        </p>
                    </div>
                    <div class="sidebar__footer" style="margin: 0 auto; width: auto;">
                        <div class="col">
                            {% if craft.app.language == "fr" %}
                                <img src="/assets/img/luigi-lpm.jpg" alt="LUIGI CODUTI">
                            {% else %}
                                <img src="/assets/img/an-lpm.jpg" alt="An">
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if craft.app.language == "fr" %}
                                <strong>Luigi Coduti</strong>
                                <a href="mailto:luigi@lpm.be" class="mail">
                                    luigi@lpm.be
                                </a>
                                <a href="tel:+32471784342" class="phone">
                                    +32 (0) 471 / 78 43 42
                                </a>
                            {% else %}
                                <strong>An Maerten</strong>
                                <a href="mailto:an@lpm.be" class="mail">
                                    an@lpm.be
                                </a>
                                <a href="tel:+32460954643" class="phone">
                                    +32 (0) 460 / 95 46 43
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
